@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.header {
  height: 10vh;
  border: 1px solid #ecf0f1;
  padding: 1em;
}

.main {
  display: flex;
  height: 90vh; /* ocupa toda la pantalla */
}

.sidebar {
  flex: 0 0 15%; /* ancho fijo relativo */
  border: 1px solid #ecf0f1;
  padding: 1em;
}

.content {
  flex: 1; /* ocupa el resto */
  border: 1px solid #ecf0f1;
  padding: 1em;
}
